/*
-	CSS FOR X - GOALS
-
-	CONTRIBUTORS: TRI - DUNG - TUAN
-
-	CES'S INTERSHIP
-
-	07-2015
*/

/* ---------------------- COMMON ---------------------- */
*{
	font-family: 'Signika', sans-serif;
}
body{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    background: url(../img/bg.png);
}
table{
	background-color: #FFF;
}
#report-table td{ 
	min-width: 150px; 
}
.ui-datepicker-title{
	color: #000;
}
::selection {
  background: #ffe570; /* WebKit/Blink Browsers */
  border-radius: 2px;
}
::-moz-selection {
  background: #ffe570; /* Gecko Browsers */
}
.carousel, .profile-layout, .admincp-layout, .usercp-layout, .report-layout, .report-layout-right, .report-layout-left{
	margin-top: 70px;
}
.login, .about, .contact, .profile-layout-left, .profile-layout-right{
	margin-top: 20px;
}
.login, .about, .contact, .profile-layout, .admincp-layout, .usercp-layout, .report-layout{
	border: 1px solid #F15927;
	border-radius: 4px;
	padding: 0 30px;	
}
.about, .contact, .profile-layout, .profile-wrapper, .admincp-layout, .usercp-layout, .report-layout{
	overflow: hidden;
	padding-bottom: 30px;
}
.glyphicon-envelope, .glyphicon-asterisk, .glyphicon-user, .glyphicon-calendar, .glyphicon-eye-open{
	position: absolute;
	top: 1px;
	left: 13px;
}
input, textarea{
	border: 1px solid #000 !important; 
	transition: box-shadow 0.5s, border 0.5s;
}
input:focus, textarea:focus, .form-control:focus{
    -moz-box-shadow: 0px 0px 6px #26C281;
    -webkit-box-shadow: 0px 0px 6px #26C281;
    box-shadow: 0px 0px 6px #26C281;
    border: 1px solid #26C281 !important;
}
.section-trigger{
	width: auto;
	height: 60px;
	background-color: #F15927;
	border-radius: 4px;
}
.section-header{
	padding: 7px 0 0 20px;
	color: #FFF;
}
.section-content{
	display: none;
}
.btn-down{
	height: 60px;
	width: 60px;
	float: right;
	margin-top: -60px;
	font-size: 21pt;
}
.arrow-down{
	vertical-align: middle;
	margin-left: 4px;
}
.checkbox {
	padding-left: 15px;
}
/* ---------------------- HOMEPAGE'S NAVIGATION BAR ---------------------- */

ul.navbar-nav{
	text-align: center;
}
.navbar-right {
	margin-right: 0;
}
.navbar-default{
	background-color: #F15927;
	border-color: #E85322;
}
.navbar-default .btn-link, .navbar-default .navbar-brand, .navbar-default .navbar-link, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-text{
	color: #FFF;
}
#manual-nav{
	transition: color 0.5s, background-color 0.5s;
}
#manual-nav:hover{
	color: #F15927;
	background-color: #fff;
}
.nav-current{
	color: #F15927 !important;
	background-color: #fff !important;
}

/* ---------------------- HOMEPAGE'S CAROUSEL SLIDER ---------------------- */
.carousel-control.left, .carousel-control.right{
	background-image: none;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left{
	color: #F15927;
}
.carousel-indicators .active{
	background-color: #F15927;
}
.carousel-indicators li{
	border-color: #F15927;
}
.carousel-caption{
	color: #F15927;
	text-shadow: 0px 1px 2px #FFF;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	margin-left: -25px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	margin-right: -25px;
}
/* ---------------------- HOMEPAGE'S LOGIN ---------------------- */
.login{
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: hidden;
}
.btn-signup, .btn-login{
	width: 35%;
	height: auto;
	font-size: 25px;
	margin: 20px 0;
}
.btnSubmit-signup, .btnSubmit-login{
	float: left;
}
.btn-signup, .btn-reset, .btn-signup:focus, .btn-reset:focus{
	color: #FFF;
	margin-right: 7px;
	background-color: #F15927;
	transition: color 0.5s, background-color 0.5s;
}
.btn-signup:hover, .btn-reset:hover{
	color: #F15927;
	background-color: #FFF;
}
.btn-login, .btn-login:focus, .btnSubmit, .btnSubmit:focus, .btn-close, .btn-close:focus{
	color: #000;
	margin-left: 7px;
	background-color: #FFF;
	transition: color 0.5s, background-color 0.5s;
}
.btn-login:hover, .btnSubmit:hover, .btn-close:hover{
	color: #FFF;
	background-color: #434A54;
}
.btnSubmit, .btnSubmit:focus{
	margin-left: 0;
}
#form-login{
	margin-top: 30px;
}
.left-inner-addon input {
  padding-left: 30px;
}
#form-signup .form-group .col-sm-5 #input, #datepicker, #birthday{
  padding-left: 30px;
}
#form-login .form-group .col-sm-5 #input{
  padding-left: 30px;
}
#form-sendEmail #myModal .modal-dialog .modal-content .form-group .col-sm-5 #input{
  padding-left: 30px;
}
#form-profile .col-md-6 .form-group .col-sm-5 #input, #datepicker, #profileGender{
  padding-left: 30px;
}
#form-contact .form-group .col-md-8 #input{
  padding-left: 30px;
}
#form-reset .form-group .col-md-6 #input{
  padding-left: 30px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
}
#form-login{
	position: relative;
}
#checkbox-position{
	position: absolute;
	left: 15px;
	top: 4px;
}
.signupGender, #forgotPassword{
	float: left;
}
#form-signup, #form-login{
	display: none;
}
.dropdown-menu{
	background-color: #FFF;
}
.datepicker table tr td.active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, 
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td span.active, 
.datepicker table tr td span.active.active, .datepicker table tr td span.active:hover, 
.datepicker table tr td span.active:hover:hover{
	background-color: #F15927;
}
.email-label{
	padding-top: 7px;
  	margin-bottom: 0;
  	margin-left: 28px;
}
.modal-content{
	border: 1px solid #F15927;
  	border-radius: 4px;
}
.radio{
	padding-left: 15px;
	text-align: left;
}

/* ---------------------- HOMEPAGE'S ABOUT US ---------------------- */
.rotate-180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.img-circle{
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 40px;
	transition: transform 0.5s, box-shadow 0.5s;
}
.img-circle:hover{
	-moz-box-shadow: 0px 0px 14px #f15927;
    -webkit-box-shadow: 0px 0px 14px #f15927;
    box-shadow: 0px 0px 14px #f15927;
	transform: scale(1.05);
}

/* ---------------------- HOMEPAGE'S CONTACT US ---------------------- */
.contact{
	margin-bottom: 20px;
}
.contact-form{
	margin-top: 35px;
}
textarea{
	resize: vertical;
	min-height: 250px;
}
#create-goal .form-group textarea{
	min-height: 100px;
}
#form-contact, #form-address{
	display: block;
}
#form-address{
	margin-top: 35px;
}
.facebook, .twitter, .google{
	display: block;
	float: left;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
	transition: background-position 0.5s;
}
.facebook:hover, .facebook:focus, .twitter:hover, .twitter:focus, .google:hover, .google:focus{
	background-position: 0 -32px;
}
.facebook{
	background: url(../img/facebook.png);
}
.twitter{
	background: url(../img/twitter.png);
	margin: 0 20px 0;
}
.google{
	background: url(../img/google.png);
}

/* ---------------------- PROFILE'S NAVIGATION BAR ---------------------- */
.welcome{
	color: #FFF;
	margin-top: 15px;
	margin-right: 5px;
}

/* ---------------------- PROFILE'S LAYOUT ---------------------- */
.profile-wrapper{
	background-color: #FFF;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 10px 30px 0 30px;
}
.profile-layout-left, .profile-layout-right{
	margin-top: 20px;
}

/* ---------------------- ADMINCP'S LAYOUT ---------------------- */
.search{
	float: right;
}
#table-cell-center{
	text-align: center;
}
#user-table{
	margin-top: 20px;
}
.dropdown-menu li a {
	color: black;
}
.manual-pagination {
	float: right;
}
#user-table thead{
	background-color: #F15927;
	color: #FFF;
}
.show-entries-down{
	vertical-align: -2px;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus{
	transition: background-color 0.5s, color 0.5s;
}

/* ---------------------- ADMINCP'S LAYOUT ---------------------- */
#fb-table{
	margin-top: 20px;
}
#fb-table thead{
	background-color: #F15927;
	color: #FFF;
}
/* ---------------------- USERCP'S LAYOUT ---------------------- */
.goal-detail strong{
	font-size: 16px;
	font-weight: 200;
}
.goal-detail span{
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
}
#btn-data-cal-prev, #btn-data-cal-next, #btn-today, .btn-day, .btn-week, .btn-month, .btn-year{
	color: #000;
}
#goalid, .year-view, .week-view, .month-view, 
#create-goal #daily, #create-goal #weekly, #create-goal #monthly, #create-goal #yearly,
.hide-element{
	display: none;
}
#report-table{
	margin-top: 40px;
}
#checker-wrapper{
	width: 25px; 
	height: 25px; 
	border: 2px solid #F15927;
	border-radius: 2px; 
	position: absolute; 
	bottom: 15px; 
	right: 15px;
	cursor: pointer;
}
.nopadding, .timePicker, .autoCheck, #create-goal .col-md-6 .repeat, 
#create-goal #daily, #create-goal #weekly, #create-goal #monthly, #create-goal #yearly, #create-goal .time{
	padding: 0;
}
.cal-row-head, .cal-week, .cal-week-content, .cal-4-month, .cal-day-content, .cal-day-box, .cal-week-box, .cal-year-box{
	display: table;
    table-layout: fixed;
    margin-bottom: 4px;
}
.cal-row-head, .cal-month-box, .cal-4-month, .cal-week, .cal-week-box, .cal-day-content, .cal-day-box, .cal-year-box{
	width: 100%;
	white-space: nowrap;
}
.cal-head, .cal-day, .cal-month, .cal-week-cell, .cal-year-cell{
	display: inline-block;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
	box-sizing: border-box;
}
.cal-day, .cal-month, .cal-week-cell, .cal-year-cell{
	background-color: #FFF;
	height: 80px;
	padding: 0;
	transition: color 0.2s, background-color 0.2s;
	margin-bottom: 4px;
	position: relative;
}
.cal-week-cell{
	height: 110px;
}
.day-not-in-month{
	background-color: #F2F1EF;
}
.cal-day:hover, .cal-month:hover, .cal-week-cell:hover, .cal-year-cell:hover{
    -moz-box-shadow:inset 0px 0px 6px #f15927;
    -webkit-box-shadow:inset 0px 0px 6px #f15927;
    box-shadow:inset 0px 0px 6px #f15927;
}
.month-view-today{
	background-color: #ffe570;
}
.cal-head{
	background-color: #F15927;
	color: #FFF;
	vertical-align: middle;
}
.cal-month-box{
	margin-top: 4px;
	margin-bottom: 10px;
}
.cal-date-number, .cal-week-cell, .cal-year-cell{
	text-align: left;
	vertical-align: top;
	padding: 15px;
}
.cal-month-name{
	float: left;
	margin: 14px 0 0 14px;
}
.cal-header{
	margin-bottom: 20px;
	margin-top: 30px;
}
#title-month{
	float: right;
	margin-top: 0;
}
.btn-group .active{
	background-color: #F15927;
}
#btn-data-cal-prev:hover, #btn-data-cal-next:hover, #btn-today:hover, .btn-group .btn-day:hover, .btn-group .btn-week:hover, .btn-group .btn-month:hover, .btn-group .btn-year:hover{
	color: #FFF;
	background-color: #F15927;
	transition: color 0.5s, background-color 0.5s;
}
#btn-data-cal-prev:focus, #btn-data-cal-next:focus, #btn-today:focus{
	color: #000;
	background-color: #F2F1EF;
	transition: color 0.5s, background-color 0.5s;
}
.cal-month{
	width: 24.7%;
}
.cal-week-cell, .cal-head, .cal-day, .cal-year-cell, .cal-month{
	display: table-cell;
	border-left: 4px solid #D2D7D3;
}
.week-view .cal-week-box .cal-week-cell:first-child, .cal-month:first-child, .cal-day:first-child, .cal-head:first-child{
	border: none;
}
.cal-week-cell, .cal-year-cell{
	background-color: #FFF;
	margin: 5px 4px 0 0;
}
.cal-week-cell:first-child, .cal-year-cell:first-child{
	border: none;
}
.cal-row-head .day-head-left{
	width: 10%;
}
.cal-row-head .day-head-right, .day-detail{
	width: 90%;
}

/* ---------------------- REPORT'S LAYOUT ---------------------- */
#chartData {
  border: 1px solid #333;
}
#pie-chart{
	margin-top: -60px;
}
#chart {
  	display: block;
  	margin-bottom: 40px;
  	float: left;
  	cursor: pointer;
}
#chartData {
  	width: 200px;
  	margin: 80px 40px 0 0;
  	float: right;
  /*border-collapse: collapse;*/
  /*box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);*/
  /*-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);*/
  /*background-position: 0 -100px;*/
}
#chartData th, #chartData td {
  padding: 0.5em;
  border: 1px dotted #666;
  text-align: left;
}

#chartData th {
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

#chartData td {
  cursor: pointer;
}

#chartData td.highlight {
  background: #e8e8e8;
}

#chartData tr:hover td {
  background: #f0f0f0;
}

/*-----------------------FOOTER----------------------------*/
a{
	color: #434a54;
}
.copyright{
	text-align: center;
}
.scrollToTop{
	display: block;
  	text-decoration: none;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	overflow: hidden;
  	width: 40px;
  	height: 40px;
 	border: none;
  	opacity: 0.4;
  	text-indent: -9999px;
	background: url(../img/top.jpg);
}
.scrollToTop:hover{
	text-decoration:none;
}
/*-----------------------VALIDATION ALERT----------------------------*/
.alert-danger{
	background-color: #FFFFFF;
	color: #FF0000;
	border: none;
}
.col-md-12 .col-md-8 .alert ul li{
	text-align: left;
}
/*-----------------------RESET PASSWORD----------------------------*/
#resetTitle{
	text-align: center;
	color: #FFFFFF;
	background-color: #F15927;
	font-size: 20px;
}
#frmReset{
	margin-top: 30px;
}